@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CairoBold";
  src: local("CairoBold"),
    url("../fonts/cairo/Cairo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraBold";
  src: local("CairoExtraBold"),
    url("../fonts/cairo/Cairo-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraLight";
  src: local("CairoExtraLight"),
    url("../fonts/cairo/Cairo-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "CairoLight";
  src: local("CairoLight"),
    url("../fonts/cairo/Cairo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CairoMedium";
  src: local("CairoMedium"),
    url("../fonts/cairo/Cairo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "CairoRegular";
  src: local("CairoRegular"),
    url("../fonts/cairo/Cairo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CairoSemiBold";
  src: local("CairoSemiBold"),
    url("../fonts/cairo/Cairo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoBlack";
  src: local("CairoSemiBold"),
    url("../fonts/cairo/Cairo-Black.ttf") format("truetype");
}

.cairo_semibold_title {
  font-family: "CairoSemiBold", sans-serif;
}

.cairo_black_title {
  font-family: "CairoBlack", sans-serif;
}

@layer components {
  .Havar:hover {
    color: red;
    transition-duration: 0.2s;
  }

  .slides {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #problems {
    border: white solid 1px;
    @apply flex items-center flex-col flex-row w-[80%] m-auto;
  }
}

body,
html {
  height: 100%;
}