@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "CairoBold";
  src: local("CairoBold"),
    url("../fonts/cairo/Cairo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraBold";
  src: local("CairoExtraBold"),
    url("../fonts/cairo/Cairo-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraLight";
  src: local("CairoExtraLight"),
    url("../fonts/cairo/Cairo-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "CairoLight";
  src: local("CairoLight"),
    url("../fonts/cairo/Cairo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CairoMedium";
  src: local("CairoMedium"),
    url("../fonts/cairo/Cairo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "CairoRegular";
  src: local("CairoRegular"),
    url("../fonts/cairo/Cairo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CairoSemiBold";
  src: local("CairoSemiBold"),
    url("../fonts/cairo/Cairo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoBlack";
  src: local("CairoSemiBold"),
    url("../fonts/cairo/Cairo-Black.ttf") format("truetype");
}

.cairo_semibold_title {
  font-family: "CairoSemiBold", sans-serif;
}

.cairo_black_title {
  font-family: "CairoBlack", sans-serif;
}
.cairo_bold_title {
  font-family: "CairoBold", sans-serif;
}
.cairo_extrabold_title {
  font-family: "CairoExtraBold", sans-serif;
}
.cairo_regular_title {
  font-family: "CairoRegular", sans-serif;
}

@layer components {
  .Havar:hover {
    color: #04ac04;
    transition-duration: 0.3s;
  }
  .container1 {
    @apply max-w-[1320px] xl:mx-auto;
  }

  .confirmbtn {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #33ca47;
    transition: all 0.25s ease;
  }

  .confirmbtn:hover {
    box-shadow: 0 10px 20px -10px rgba(62, 255, 126, 0.6);
    transform: translateY(-5px);
    background: #2aa13a;
  }
  .confirmbtn:active {
    box-shadow: 0 10px 20px -10px rgba(26, 107, 53, 0.6);
    transform: translateY(0px);
    background: #196323;
  }

  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: transparent;
    transition: all 0.25s ease;
    position: absolute;
    right: 10px;
    top: 10px;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }

  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
}
body {
  overflow-x: hidden;
  background-color: #f6f7fc;
}

@keyframes Animate1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes Animate2 {
  from {
    width: 0rem;
  }
  to {
    width: 10rem;
  }
}
@keyframes Animate22 {
  from {
    width: 0rem;
    height: 0rem;
  }
  to {
    width: 5rem;
    height: 5rem;
  }
}
@keyframes Animate3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Animate4 {
  from {
    height: 0;
  }
  to {
    height: 6rem;
  }
}

#animate1 {
  animation: Animate1 500ms ease-out;
  animation-fill-mode: backwards;
}
#animate2 {
  animation: Animate2 1000ms ease-out;
  animation-fill-mode: backwards;
}
#animate22 {
  animation: Animate22 1000ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1000ms;
}
#animate3 {
  animation: Animate3 2000ms ease-out;
  animation-fill-mode: backwards;
}
#animate4 {
  animation: Animate4 500ms ease-out;
  animation-fill-mode: backwards;
}

#animate12 {
  animation: Animate1 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 250ms;
}
#animate13 {
  animation: Animate1 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}
#animate31 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
}
#animate32 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}
#animate33 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 200ms;
}
#animate34 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 700ms;
}
#animate35 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1000ms;
}
/* homepage */
#midTo,
#problem2,
#problem3 {
  opacity: 0;
  transition: ease-in 500ms;
}
.topImg {
  background-image: linear-gradient(#00000078, #0000007e),
    url("../public/leaf2.png");
}
.goalssection {
  background-image: url(../public/forest.png);
  background-position: 50% 18.34%;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.griid {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}
@media (max-width: 1146px) {
  .griid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 644px) {
  .griid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}
.wsection {
  width: 1140px;
}
@media (max-width: 1140px) {
  .wsection {
    width: 900px;
  }
}
@media (max-width: 900px) {
  .wsection {
    width: 644px;
  }
}
@media (max-width: 644px) {
  .wsection {
    width: 300px;
  }
}
.box1 {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.box2 {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
#helpEarth {
  margin-top: 1;
}
.text-right {
  text-align: right;
}

.transition-1 {
  transition: all 0.7s;
}
/* mainpage */
#selected2 {
  border-right: 2px solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  @apply sm:pr-[1rem] pr-[2px];
}
