@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CairoBold";
  src: local("CairoBold"),
    url("../fonts/cairo/Cairo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraBold";
  src: local("CairoExtraBold"),
    url("../fonts/cairo/Cairo-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraLight";
  src: local("CairoExtraLight"),
    url("../fonts/cairo/Cairo-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "CairoLight";
  src: local("CairoLight"),
    url("../fonts/cairo/Cairo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CairoMedium";
  src: local("CairoMedium"),
    url("../fonts/cairo/Cairo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "CairoRegular";
  src: local("CairoRegular"),
    url("../fonts/cairo/Cairo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CairoSemiBold";
  src: local("CairoSemiBold"),
    url("../fonts/cairo/Cairo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoBlack";
  src: local("CairoSemiBold"),
    url("../fonts/cairo/Cairo-Black.ttf") format("truetype");
}

.cairo_semibold_title {
  font-family: "CairoSemiBold", sans-serif;
}

.cairo_black_title {
  font-family: "CairoBlack", sans-serif;
}
.cairo_bold_title {
  font-family: "CairoBold", sans-serif;
}
.cairo_extrabold_title {
  font-family: "CairoExtraBold", sans-serif;
}
.cairo_regular_title {
  font-family: "CairoRegular", sans-serif;
}

@layer components {
  .Havar:hover {
    color: #04ac04;
    transition-duration: 0.3s;
  }
  .container1 {
    @apply max-w-[1320px] xl:mx-auto;
  }

  .topImg {
    background-image: linear-gradient(#0000003e, #0000003e),
      url("../public/leaf2.png");
  }

  .text-right {
    text-align: right;
  }
  .goalssection {
    background-image: url(../public/forest.png);
    background-position: 50% 18.34%;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .transition-1 {
    transition: all 0.7s;
  }
  .griid {
    display: grid;
    grid-template-columns: repeat(3, 33.33333333%);
  }
  @media (max-width: 1146px) {
    .griid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }
  }
  @media (max-width: 644px) {
    .griid {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }
  .wsection {
    width: 1140px;
  }
  @media (max-width: 1140px) {
    .wsection {
      width: 900px;
    }
  }
  @media (max-width: 900px) {
    .wsection {
      width: 644px;
    }
  }
  @media (max-width: 644px) {
    .wsection {
      width: 300px;
    }
  }
  .darkBG {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .centered {
    position: fixed;
    top: 50%;
    z-index: 10000;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal {
    width: 500px;
    height: max-content;
    background: white;
    z-index: 1001;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }
  @media (max-width: 660px) {
    .modal {
      width: 300px;
      height: max-content;
      background: white;
      z-index: 1001;
      border-radius: 0.5rem;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    }
  }

  .confirmbtn {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;

    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #33ca47;
    transition: all 0.25s ease;
  }

  .confirmbtn:hover {
    box-shadow: 0 10px 20px -10px rgba(62, 255, 126, 0.6);
    transform: translateY(-5px);
    background: #2aa13a;
  }
  .confirmbtn:active {
    box-shadow: 0 10px 20px -10px rgba(26, 107, 53, 0.6);
    transform: translateY(0px);
    background: #196323;
  }
  .heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

  .modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
  }

  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: transparent;
    transition: all 0.25s ease;
    position: absolute;
    right: 10px;
    top: 10px;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  .custom-file-input {
    color: transparent;
    background-color: #04ac04;

    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  input.custom-file-input {
    opacity: 0;
    position: absolute; /*set position to be exactly over your input*/
    left: 0;
    top: 0;
  }
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }

  .box1 {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  .box2 {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    margin: -26px auto 0 0;
  }
  .pageon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    border-bottom-width: 2px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    --tw-bg-opacity: 1;

    color: rgb(99 102 241 / var(--tw-bg-opacity));
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
  }
  .PageContent {
    color: #fff;
    width: 100%;
    transition: all 0.5s;
  }
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .eyebrow_container {
    display: flex;
    gap: 550px;
  }

  .left {
    rotate: -20deg;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
  }
  .right {
    rotate: 20deg;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
  }

  #eye {
    position: relative;
    border: 1px solid #000;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #000;
    box-shadow: inset 0 0 0.4px rgb(0, 0, 0);
    transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s;
  }
  #eye::after {
    content: " ";
    position: absolute;
    bottom: 5%;
    right: 20%;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.5s;
  }
  #eye2 {
    position: relative;
    border: 1px solid #000;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #000;
    box-shadow: inset 0 0 0.4px rgb(0, 0, 0);
    transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s;
  }
  #eye2::after {
    content: " ";
    position: absolute;
    bottom: 5%;
    right: 20%;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.5s;
  }
  #face {
    height: 10rem;
    width: 10rem;
  }
  .maintitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .secondarytext {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .profile {
    margin-top: 0%;
  }
  @media (max-height: 600px) and (max-width: 767px) {
    .profile {
      margin-top: 30%;
    }
  }
  @media (max-width: 767px) and (min-height: 590px) {
    .profile {
      margin-top: 30%;
    }
  }
  @media (max-height: 600px) {
    .secondarytext {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    .maintitle {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    #face {
      height: 6rem;
      width: 6rem;
    }
    #eye {
      position: relative;
      border: 1px solid #000;
      margin-left: 5px;
      margin-right: 5px;
      display: inline-block;
      border-radius: 50%;
      height: 8.5px;
      width: 8.5px;
      background: #000;
      box-shadow: inset 0 0 0.4px rgb(0, 0, 0);
      transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s;
    }
    #eye::after {
      content: " ";
      position: absolute;
      bottom: 5%;
      right: 20%;
      width: 4px;
      height: 4px;
      background: #fff;
      border-radius: 50%;
      pointer-events: none;
      transition: 0.5s;
    }
    #eye2 {
      position: relative;
      border: 1px solid #000;
      margin-left: 5px;
      margin-right: 5px;
      display: inline-block;
      border-radius: 50%;
      height: 8.5px;
      width: 8.5px;
      background: #000;
      box-shadow: inset 0 0 0.4px rgb(0, 0, 0);
      transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s;
    }
    #eye2::after {
      content: " ";
      position: absolute;
      bottom: 5%;
      right: 20%;
      width: 4px;
      height: 4px;
      background: #fff;
      border-radius: 50%;
      pointer-events: none;
      transition: 0.5s;
    }
  }

  .pageoff {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }

  .animationside {
    color: #fff;
    height: 100vh;
    width: 100%;
    transition: all 0.5s;
  }
}
body {
  overflow-x: hidden;
  background-color: #f6f7fc;
}
.rounded2 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.rounded1 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
@media (max-width: 619px) {
  .rounded2 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
  }
  .rounded1 {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0rem;
  }
}

#selected2 {
  border-right: 2px solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  @apply sm:pr-[1rem] pr-[2px];
}

@keyframes Animate1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes Animate2 {
  from {
    width: 0rem;
  }
  to {
    width: 10rem;
  }
}
@keyframes Animate3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Animate4 {
  from {
    height: 0;
  }
  to {
    height: 6rem;
  }
}

#animate1 {
  animation: Animate1 500ms ease-out;
  animation-fill-mode: backwards;
}
#animate2 {
  animation: Animate2 1000ms ease-out;
  animation-fill-mode: backwards;
}
#animate3 {
  animation: Animate3 2000ms ease-out;
  animation-fill-mode: backwards;
}
#animate4 {
  animation: Animate4 500ms ease-out;
  animation-fill-mode: backwards;
}

#animate12 {
  animation: Animate1 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 250ms;
}
#animate13 {
  animation: Animate1 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}
#animate31 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
}
#animate32 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}
#animate33 {
  animation: Animate3 500ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 200ms;
}
