.container {
  padding: 0 2rem;
}

@font-face {
  font-family: "CairoBlack";
  src: local("CairoBlack"), url("../fonts/cairo/Cairo-Black.ttf") format("truetype");
}

@font-face {
  font-family: "CairoBold";
  src: local("CairoBold"), url("../fonts/cairo/Cairo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraBold";
  src: local("CairoExtraBold"), url("../fonts/cairo/Cairo-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "CairoExtraLight";
  src: local("CairoExtraLight"), url("../fonts/cairo/Cairo-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "CairoLight";
  src: local("CairoLight"), url("../fonts/cairo/Cairo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CairoMedium";
  src: local("CairoMedium"), url("../fonts/cairo/Cairo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "CairoRegular";
  src: local("CairoRegular"), url("../fonts/cairo/Cairo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CairoSemiBold";
  src: local("CairoSemiBold"), url("../fonts/cairo/Cairo-SemiBold.ttf") format("truetype");
}


.button_text_title {
  font-family: "CairoMedium", sans-serif;
  font-size: 1rem;
  justify-content: center;

  align-self: center;
  display: flex;
  color: white;
}

.button_text_title :hover {
  color: black;
}

.glow_button {
  width: 220px;
  height: 50px;
  margin: 2rem;
  border: none;
  outline: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 9999px;
}

.glow_button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 9999px;
}

.glow_button:active {
  color: #000
}

.glow_button:active:after {
  background: transparent;
}

.glow_button:hover:before {
  opacity: 1;
}

.glow_button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 9999px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .scene {
    width: 100%;
    height: 100vh;
  }
}
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
