.pageoff {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.PageContent {
  color: #fff;
  width: 100%;
  transition: all 0.5s;
}
