.profile {
  margin-top: 0%;
}
@media (max-height: 600px) and (max-width: 767px) {
  .profile {
    margin-top: 30%;
  }
}
@media (max-width: 767px) and (min-height: 590px) {
  .profile {
    margin-top: 30%;
  }
}
